---
const { title, description, url } = Astro.props;
const t = title;
---

{
  title && (
    <>
      <meta property="og:title" content={title} />
      <meta name="twitter:title" content={title} />
      <title>{title}</title>
    </>
  )
}

{
  url && (
    <>
      <meta property="og:url" content={url} />
      <meta property="twitter:url" content={url} />
    </>
  )
}
{
  description && (
    <>
      <meta property="og:description" content={description} />
      <meta name="twitter:description" content={description} />
      <meta name="description" content={description} />
    </>
  )
}
<meta property="og:type" content="website" />
<meta property="og:image" content="" />
<meta name="twitter:card" content="summary_large_image" />
<meta property="twitter:domain" content="nihanmubashshir.github.io" />
<meta name="twitter:image" content="" />
